/* .select2-container--default .select2-selection--single {
    padding: 5px;
    height: 40px;
    position: relative;
} */
.pass-generate {
    margin-top: 35px;
}
.gen-pass {
    margin-left: -30px;
}
.copy-pass {
    margin-left: 20px;
}
.gen-pass-btn {
    width: 120px;
}
.copy-pass-btn {
    width: 127px;
}
.password-gen-label {
    margin-top: -29px !important;
}
.comment-field {
    margin-right: 10px !important;
}
.comment-invalid-feedback {
    color: red !important;
}
.card {
    border-style: solid;
    border-color: red;
}
.card-box {
    width: 190px !important;
    text-align: center;
}
.card-header {
    padding: 0.5rem 0.5rem 0.5rem !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25) !important;
}
.card-body {
    padding: 0.5rem !important;
    background: #efefef !important;
}
.card-footer {
    padding: 0.5rem 0.5rem 0.5rem !important;
    border-top: 2px solid rgba(0, 0, 0, 0.25) !important;
    border-radius: 0rem !important;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
}
.new-quotes {
    background: #ff0000;
}
.new-quotes-text {
    color: #ff0000;
    margin-top: 15px !important;
}
.quoted {
    background: #e28743;
}
.quote-text {
    color: #e28743;
    margin-top: 15px !important;
}
.booked {
    background: #49be25;
}
.book-text {
    color: #49be25;
    margin-top: 15px !important;
}
.removed {
    background: #676d66;
}
.removed-text {
    color: #676d66;
    margin-top: 15px !important;
}
.forward {
    background: #5050d0;
}
.forward-text {
    color: #5050d0;
    margin-top: 15px !important;
}
.btn-primary-quoted {
    border-color: #e28743 !important;
    background-color: #e28743 !important;
}
.btn-primary-forward {
    border-color: #5050d0 !important;
    background-color: #5050d0 !important;
}
.btn-primary-booked {
    border-color: #49be25 !important;
    background-color: #49be25 !important;
}
.btn-primary-quotes {
    border-color: #ff0000 !important;
    background-color: #ff0000 !important;
}

.apply-btn-primary {
    margin-left: inherit !important;
}
.bootstrap-badge {
    margin-right: 5px !important;
}

.select-status {
    margin-left: -70px !important;
}

.page-item.disabled {
    cursor: not-allowed !important;
}
.page-link.disabled {
    cursor: not-allowed !important;
}
.text-red {
    color: #ff0000 !important;
}
.nav-header .logo-abbr {
    width: 140px !important;
    padding-top: 14px;
    padding-top: 24px;
}
.content-body .all-cardBox .card-body {
        font-weight: 600;
}
.sortAlignment{
    padding-left: 6px !important;
    padding-right: 0px !important;
}